# <%= pluginName %>

> <%= description %>

## <a name="install"></a>Install
```bash
$ npm install <%= pluginName %> --save
```

## <a name="license"></a>License

[MIT](https://github.com/<%= githubOwner %>/<%= githubRepo %>/blob/master/LICENSE)
